{{#if user}}
{{else}}
<div class=" card z-depth-5" id="registration_form">
	<div class="container">
		<br>
		<div>
			<h5 style="color: #00BCD4;" class="center-align internal-header">Sign up</h5>
		</div>
		<form method="POST" action="/signup" class="col s12 card-content">
			<div class="row">
				<div class="input-field col s10">
					<i class="material-icons medium prefix">account_circle</i>
					<input id="username" name="username" length="10" type="text" required>
					<label for="username">Username</label>
				</div>
				<div class="col s1">
					{{#if loading}}
					<img id="username_spinner"  src="/images/small_spinner.gif"></img>
					{{else}}{{/if}}
				</div>
				<div class="col s1">
					<div style="margin-top:30px;">
					{{#if usernameOk}}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
					{{else}}{{/if}}
					{{#if usernameNotOk}}
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					{{else}}{{/if}}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s10">
					<i class="material-icons medium prefix">email</i>
					<input name="email" id="email" type="email" required>
					<label for="email">Email</label>
				</div>
				<div class="col s1">
					{{#if loading}}
					<img id="email_spinner"  src="/images/small_spinner.gif"></img>
					{{else}}{{/if}}
				</div>
				<div class="col s1">
					<div style="margin-top:30px;">
					{{#if emailOk}}<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
					{{else}}{{/if}}
					{{#if emailNotOk}}
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					{{else}}{{/if}}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<i class="material-icons medium prefix">lock_outline</i>
					<input name="password" id="password" name="password" type="password" required></input>
					<label for="password">Password</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<i class="material-icons medium prefix">lock_outline</i>
					<input id="password2" type="password" class="validate" required>
					<label for="password2">Repeat Password</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<input required type="checkbox" id="terms_agreement" />
					<label for="terms_agreement">I agree to the <a href="#">terms and conditions</a></label>
				</div>
			</div>
			<div style="margin-top: 30px;" class="row center-align" >
				<input type="submit" value="Register" class="waves-effect waves-light btn "/>
			</div>
		</form>
		<div class="center-align">
			<p>Already have an account? <a href="/login">Sign in</a></p>
		</div>
		<br>
	</div>
</div>{{/if}}
